.container {
  display: grid;
  grid-template-rows: 100px 300px 100px;
  grid-template-columns: 3fr 1fr;

  /* Nomeação */
  grid-template-areas: 
  'header header'
  'main aside'
  'footer footer';
  
  /* Fração */
  /* grid-template-columns: 100px minmax(100px, 3fr) 1fr; */

  /* Auto */
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.item-1 {
  grid-area: header;
  /* grid-area: 1/1/3/7; */
}

.item-2 {
  grid-area: main;
  /* grid-area: 2 / 4 / 4 / 6;
  z-index: 1; */
}

.item-3 {
  grid-area: aside;
  /* grid-area: 3 / 1 / -1 / -1; */
}

.item-3 {
  grid-area: footer;
  /* grid-area: 3 / 1 / -1 / -1; */
}
