.container {
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 1fr);

  /* Nomeação */
  /* grid-template-areas: 
  'header header'
  'main aside'
  'footer footer'; */
  
  /* Fração */
  /* grid-template-columns: 100px minmax(100px, 3fr) 1fr; */

  /* Auto
  grid-auto-rows: 100px;
  grid-auto-columns: 100px; */

  justify-items: center;
  align-items: center;
}

.item-1 {
  justify-self: stretch;
}

/* 
.item-2 {
  grid-area: main;

}

.item-3 {
  grid-area: aside;
}

.item-3 {
  grid-area: footer;
} */
